* {
    font-family: "Comic Sans MS", "cursive";
    }

body{
    background-color: black;
}
.border{
    border-radius: 100px;
    padding:15px;
    background-color: red;
    float:center;
    border-top-left-radius: 2px;
}

.baby-border{
    background-color: black;
    padding:10px;
    border-radius: 100px;
    float:center;
    color:red;
    text-align: center;
}

div,
a {
    list-style: none;
    text-decoration: none;
    font-size: 20px;
    color:red;
}


div.left{
    text-align: left;
}


div.center{
    text-align: center;
}


div.right {
    text-align:right;
}

