* {
    font-family: "Comic Sans MS", "cursive";
    }

body {
    background-color: black;
}
.border {
    background-color: red;
    text-align: center;
    width: 500px;
    border-radius: 50px;
    padding:5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.baby-border{
    width:500px;
    text-align: center;
    background-color: black;
    color:red;
    font-size: 50px;
    border-radius: 30px;
}

p,
a {
    display: inline;
    text-decoration: none;
    font-size: 40px;
    color:red;
    margin-left: auto;
    margin-right: auto;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

a.left {
    display: inline;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

a.center {
    display: inline;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}

p a .right {
    display: inline;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
}

.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height:auto;
  }

.cherry{
    background-color: red;
    text-align: center;
    width: 500px;
    border-radius: 50px;
    padding:5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;
  }

.brownie{
    width:500px;
    text-align: center;
    background-color: black;
    color:red;
    font-size: 40px;
    border-radius: 30px;
    height: auto;
    white-space: nowrap;
}

.brownie-image{
    padding: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height:auto;
}

.uchiha{
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    height:450px;
    justify-items:left;
    padding-right: 15px;
    padding-left: 15px;
    position: absolute;
    left: 20px; /* Adjust this value to control how much the image overflows */
}

.title2{
    font-size:25px;
    color:rgb(6, 215, 226);
    background-color: rgb(123, 49, 123);
   text-align: center;
  margin-left: 30%;
  margin-right: 30%;
  font-weight: bold;
  border-radius: 20px;
}

.title3{
    font-size:25px;
    color:rgb(6, 215, 226);
    background-color: rgb(123, 49, 123);
   text-align: center;
  margin-left: 30%;
  margin-right: 30%;
  font-weight: bold;
  border-radius: 20px;
}

p{
    color:rgb(31, 31, 115);
}

li{
    color:aqua
}