* {
    font-family: "Comic Sans MS", "cursive";
    }

body {
    background-color: black;
}
.border {
    background-color: red;
    text-align: center;
    width: 500px;
    border-radius: 50px;
    padding:5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.baby-border{
    width:500px;
    text-align: center;
    background-color: black;
    color:red;
    font-size: 50px;
    border-radius: 30px;
}

p,
a {
    display: inline;
    text-decoration: none;
    font-size: 40px;
    color:red;
    margin-left: auto;
    margin-right: auto;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
a.left {
    display: inline;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}


a.center {
    display: inline;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}


p a .right {
    display: inline;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
}

.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height:auto;
  }
